<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/styles.css" />
        <%- include('partials/nav') %>
    </head>
    <body>
        <div class="container">
            <h1>My Plants Collection</h1>
            <% plants.forEach((plant)=> { %>
            <div class="plant">
                <h1><%= plant.name %></h1>
                <a href="/plants/<%= plant._id %>">
                    <img
                        src="<%= plant.image %>"
                        alt="<%= plant.description %>"
                    />
                </a>
                <p class="plant-description"><%= plant.description %></p>
            </div>
            <% }) %>
        </div>
    </body>
</html>
