<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/styles.css" />
        <%- include('partials/nav') %>
    </head>
    <body>
        <div class="container">
            <h1>My Plants Collection</h1>
            <div class="plant">
                <h1><%= plant.name %></h1>
                <img src="<%= plant.image %>" alt="<%= plant.description %>" />
                <p class="plant-description"><%= plant.description %></p>

                <div class="edit-and-delete">
                    <a href="/plants/<%= plant._id %>/edit">
                        <button>Edit</button>
                    </a>
                    <form
                        action="/plants/<%= plant._id %>?_method=DELETE"
                        method="POST"
                    >
                        <button class="delete-button" type="submit">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
